body{font-family: cursive; background: linear-gradient(rgb(3, 194, 191),rgb(8, 68, 153),rgb(116, 6, 212)); }
button{border-radius: 81277362176362163872169362718px; background-color: black; color: white; height: 5%; width: 5%;}
input{border-radius: 127382173826173862183px; background-color: aqua;}